<navbar></navbar>

<div class="container">
  <div class="pack-geopattern" style="background-image: {{geoPattern}};">{{pack.name}}</div>
  <ul>
    <li>
      Pack Name: {{pack.name}}
    </li>
    <li>
      Pack Description: {{pack.description}}
    </li>
    <li>
      Time allocated for pack: {{pack.time}}
    </li>
    <li>
      <a ui-sref="sitepack.list({packId: pack.id})">View sites in this pack</a>
    </li>
    <li>
      <a ui-sref="packsession.view({packId: pack.id })">Start Session</a>
    </li>
  </ul>
</div>
