<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      Adding new site to pack {{sitepacks.name}}

      <form class="form" name="form" ng-submit="addSite(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Site NickName</label>

          <input type="text" name="name" class="form-control" ng-model="site.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.domain.$valid && submitted,
                                            'has-error': form.domain.$invalid && submitted }">
          <label>Domain name</label>

          <input type="text" name="domain" class="form-control" ng-model="site.domain"
                 valid-domain
                 required
                 database-error/>
          <p class="help-block" ng-show="form.domain.$error.required && submitted">
            A  domain is required
          </p>
          <p class="help-block" ng-show="form.domain.$error.fqdn && submitted">
            Invalid domain name.
          </p>
          <p class="help-block" ng-show="form.domain.$error.database && submitted">
            This site already exists in this pack.
          </p>
        </div>

        <div class="form-group">
          <label>Description</label>

          <input type="text" name="description" class="form-control" ng-model="site.description"/>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.weight.$valid && submitted,
                                            'has-error': form.weight.$invalid && submitted }">
          <label>Site Weight %</label>

          <input type="text" name="weight" class="form-control" ng-model="site.weight" min="0" max="100"
                 required
                 ng-pattern="numbersOnly"
                 database-error/>
          <p class="help-block" ng-show="form.weight.$error.required && submitted">
            A weight % is required
          </p>
          <p class="help-block" ng-show="form.weight.$error.database && submitted">
            Some error about your weight
          </p>
        </div>

        <div ng-if="sitepacks.Sites.length > 0" class="form-group" ng-class="{ 'has-success': form.position.$valid && submitted,
                                            'has-error': form.position.$invalid && submitted }">
          <label>Site Position %</label>

          <input type="text" name="position" class="form-control" ng-model="site.position" min="1" max="{{sitepacks.Sites.length + 1}}"
                 required
                 ng
                 database-error/>
          <p class="help-block" ng-show="form.position.$error.required && submitted">
            A position is required
          </p>
          <p class="help-block" ng-show="form.position.$error.database && submitted">
            Some error about your weight
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-register" type="submit">
            Add Site
          </button>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
